



* {
	font-family: "Times New Roman", Times, sans-serif;
}

.logo {
	margin-left: 20px;
}

.bg-primary-color {
	background-color: rgba(0, 0, 255, 0.8);
}

.primary-color {
	color: aquamarine;
}

/* Navbar
----------*/
#navbar {
	border-bottom: 4px solid #2EFE2E;
}

#navbar a:hover {
	border-bottom: 1px solid #DFFF00;
	color: #DFFF00;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 100px;
}

.navbar-brand span {
    font-weight: 700;
	font-size: 0.9em;
	margin-left: 0.5em;
	margin-top: 10px;
}

.navbar-brand {
	margin-left: 10px;
	color: white;
}

.nav-link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 35em;
}



section {
	margin-top: 150px;
}

/* Conteudo
-------------*/

.colunas {
	border: 2px solid red;
	background: #000;
	color: #fff;
}