



* {
	font-family: "Times New Roman", Times, sans-serif;
}

.logo {
	margin-left: 20px;
}

.bg-primary-color {
	background-color: rgba(0, 0, 255, 0.8);
}

.primary-color {
	color: aquamarine;
}

.secundary-color {
	color: #fff;
}

.alert-color {
	color: #fff;
	text-shadow: 2px 2px #000;
}

/* Navbar
----------*/
#navbar {
	border-bottom: 4px solid #2EFE2E;
}

#navbar a:hover {
	border-bottom: 1px solid #DFFF00;
	color: #DFFF00;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 100px;
}

.navbar-brand span {
    font-weight: 700;
	font-size: 0.9em;
	margin-left: 0.5em;
	margin-top: 10px;
}

.navbar-brand {
	margin-left: 10px;
	color: white;
}

.nav-link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 35em;
}



section {
	margin-top: 150px;
}

/* Conteudo
-------------*/

.colunas {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 5.5em;
	margin-bottom: 0.6em;
	background: url(../img/bandeira.jpg);
	color: #fff;
	text-shadow: 2px 2px #000;
	text-align: justify;
}

/* Footer top
---------------*/
#footer {
	padding: 3em 2em;
	border-top: 4px solid #2EFE2E;
}

#footer-top {
	margin-bottom: 2em;
}

#footer-top, #footer-top i {
	color: #fff;
}

#social-icons {
	text-align: right;
}

#social-icons i {
	margin-right: 1em;
	font-size: 1.5em;
	cursor: pointer;
}

#social-icons i:hover {
	color: #7a7a7a;
}

#footer-detals h4 {
	margin-top: -2.1em;
}