



* {
	font-family: "Times New Roman", Times, sans-serif;
}

.logo {
	margin-left: 20px;
}

.bg-primary-color {
	background-color: rgba(0, 0, 255, 0.8);
}

.primary-color {
	color: aquamarine;
}

.secundary-color {
	color: #fff;
}

.alert-color {
	color: #fff;
	text-shadow: 2px 2px #000;
}

/* Navbar
----------*/
#navbar {
	border-bottom: 4px solid #2EFE2E;
}

#navbar a:hover {
	border-bottom: 1px solid #DFFF00;
	color: #DFFF00;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 100px;
}

.navbar-brand span {
    font-weight: 700;
	font-size: 0.9em;
	margin-left: 0.5em;
	margin-top: 10px;
}

.navbar-brand {
	margin-left: 10px;
	color: white;
}

.nav-link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 35em;
}



section {
	margin-top: 150px;
}

/* Conteudo
-------------*/

#advertencia {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 5.5em;
	margin-bottom: 0.6em;
	background: url(../img/bandeira.jpg);	
	text-align: justify;
}

@media (max-width: 575.98px) {
	#advertencia {
		margin-top: 8.3em;
	}
}

#advertencia h2 {
	color: #fff;
	text-shadow: 2px 2px #000;
}

#carta {
	background-color: #fff;
	color: #000;	
}

#carta p {
	text-align: justify;
}

#carta h3 {
	padding-top: 1em;
	text-shadow: 1px 1px #DFFF00;
}

/* Footer top
---------------*/
#footer {
	padding: 1em 1em;
	border-top: 4px solid #2EFE2E;
}

#footer-top {
	margin-bottom: 0.5em;
}

#footer-top, #footer-top i {
	color: #fff;
}

#social-icons {
	text-align: right;
}

#social-icons i {
	margin-right: 1em;
	font-size: 1em;
	cursor: pointer;
}

#social-icons i:hover {
	color: #7a7a7a;
}

#news-container, #alert-container, #links-container {
	padding: 0;
	border: 0;
	margin-bottom: 2em;
}

/*Footer Bottom
----------------*/
#footer-bottom {
	border-top: 1px solid #7a7a7a;
	padding-top: 2em;
}

#footer-bottom i {
	color: #000;
	margin-left: 0.3em;
}

@media(min-width: 768px) {
	#news-container {
		padding-right: 2em;
	}

	#links-container {
		padding-left: 2em;
	}

	#alert-container {
		padding: 0 2em;
		border-left: 1px solid #7a7a7a;
		border-right: 1px solid #7a7a7a;
	}
}

#cpu-icon {
	text-align: center;
}